---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
const projects = await Astro.glob("./projects/*.md");
---

<html lang="en">
  <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <main>
      <Intro section="intro" title="Hello, there!" />
      <Projects section="projects" title="Projects" allProjects={projects} />
    </main>
  </body>
</html>
