---
import SectionWrapper from "./SectionWrapper.astro";
const { section, title } = Astro.props;
---

<SectionWrapper {section} {title}>
  <p>
    Welcome to my corner of the web! My name is Karla Walker and I am a digital
    designer.I’m currently in school studying Graphic Design and my interests
    include 2d/3d illustration, typography, and creative coding.
    <br />
    <strong>Likes:</strong> design, art, tech, video games, animals, caffeine, bread,
    sweater weather, noise-cancelling headphones
    <br />
    <strong>Dislikes:</strong> onions, mean people
  </p>
</SectionWrapper>
