---
import SectionWrapper from "./SectionWrapper.astro";
const { section, title } = Astro.props;
---

<SectionWrapper {section} {title}>
  <ul>
    <li><a href=''>keiwalker@icloud.com</a></li>
    <li><a href=''>LinkedIn</a></li>
    <li><a href=''>GitHub</a></li>
    <li><a href=''>CodePen</a></li>
  </ul>
</SectionWrapper>
