---
const { section, owner } = Astro.props;
---

<footer
  id={section}
  class='wrapper'>
  <p>
    Site was designed and developed by {owner} using Figma, Astro, and Netlify to
    host. Font used is Karla.
  </p>
  <p>© 2024 {owner}</p>
</footer>
