---
const { name } = Astro.props;
---

<header class='wrapper'>
  <div class='header-section'>
    <h1>{name}</h1>
  </div>
</header>
<nav class='wrapper'>
  <ul>
    <li><a href='#projects'>Projects</a></li>
    <li><a href='#about'>About</a></li>
    <li><a href='#contact'>Get in Touch</a></li>
  </ul>
</nav>
<div class='divider-thin'></div>
