---
import SectionWrapper from "./SectionWrapper.astro";

const { section, title } = Astro.props;
---

<SectionWrapper {section} {title}>
  <p>
    I'm a front-end developer who loves making delightful experiences for the
    web.
  </p>
  <div>
    Put cool things here. Like last Spotify song played. Or current read/video
    game.
  </div>
</SectionWrapper>
