---
const { section, title } = Astro.props;
---

<section id={section}>
  <h2>{title}</h2>
  <div class="content">
    <p>
      I'm a designer and front-end developer making delightful experiences for
      the web. Currently in school working on my Computer Science B.S.
    </p>
  </div>
</section>
