---
import SectionWrapper from './SectionWrapper.astro';

const { section, title } = Astro.props;
---

<SectionWrapper
  {section}
  {title}>
  <p>
    I'm Karla, a front-end developer who loves making delightful experiences for
    the web.
  </p>
  <!-- <div>
    Put cool things here. Like last Spotify song played. Or current read/video
    game.
  </div> -->
</SectionWrapper>
<!-- <div class='divider-thin'></div> -->

<style>
  p {
    font-family: 'Karla Variable', sans-serif;
    font-weight: 300;
    font-size: clamp(1.875rem, 1.5vw + 1rem, 2.5rem);
  }
</style>
